
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 150px;
}

.footer.contato{
    height: 50px;
    padding-bottom: 50px;
}